@charset "UTF-8";

header, header > nav {
    flex-flow: row wrap;
}

header {
    flex-flow: row wrap;
    justify-content: space-between;
}

header > nav {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0px;
    
}

i#burger {
    display: none;
}








